
.geral { 
  width: 200px;		<!-- largura -->
  height: 293px;	<!-- altura -->
  position: relative;
  margin:10% auto 0;
  -webkit-perspective: 500;
}
	
.carta {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
}
.carta:hover {
  -webkit-transform: rotateY(-180deg);
}

.atras {-webkit-transform: rotateY(180deg);}

.carta figure {
  margin:0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

.carta figure img {width:200px}